*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.example {
  margin: 0 0 20px 0;
}

.example-xy .slider {
  width: 230px;
  height: 230px;
}

.example-x .slider {
  width: 300px;;
}

.example-y .slider {
  height: 300px;
}
